.photo-column{
    background-color: greenyellow;
    height: 900px;
}

#photo-gallery{
    background-color: darkgreen;
    height: 900px;
}

.photo-sm{
    width: 100%;
    height: 380px;
    background-color: darkolivegreen;
    margin-top: 20px;
    overflow: hidden;
}

.photo-big{
    width: 100%;
    height: 480px;
    background-color: darkseagreen;
    margin-top: 20px;
    overflow: hidden;
}

@media(min-width:575.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}


@media(min-width:767.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}
@media(min-width:991.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
}